[changelog]
header = """
# Document Changelog\n
"""

body = """
{% if version %}
    {% if "rc" in version %}
        ## Changes to Review ({{ version }})
    {% else %}
        ## Release {{ version }}
    {% endif %}
{% else %}
    ## Draft Changes
{% endif %}

### Changes Info
{% if timestamp %}
- **Timestamp:** {{ timestamp | date(format="%Y-%m-%dT%H:%M:%SZ") }}
{% else %}
- **Timestamp:** {{ now() | date(format="%Y-%m-%dT%H:%M:%SZ")}}
{% endif %}
- **Contributors:** {% for commit in commits | unique(attribute="author.name") %}{{ commit.author.name }}{% if not loop.last %}, {% endif %}{% endfor %}\
{#- Check for co-authors in footers -#}
{%- for commit in commits -%}
  {%- for footer in commit.footers -%}
    {%- if footer.token == "Co-authored-by" -%}, {{ footer.value }}{%- endif -%}
  {%- endfor -%}
{%- endfor %}

{% for group, commits in commits | group_by(attribute="group") %}
#### {{ group }}
{% for commit in commits %}
- {% if commit.scope %}**[{{ commit.scope }}]** {% endif %}{{ commit.message | upper_first }}
{%- endfor %}
{% endfor %}
\n
"""

footer = """
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
split_commits = false

commit_parsers = [
    { message = "^logic", group = "Control Logic" },
    { message = "^fix", group = "Fixes" },
    { message = "^docs", group = "Documentation" },
]

filter_commits = true
tag_pattern = "v[0-9]*"
sort_commits = "oldest"
